In [1]:
import requests
import pandas as pd
import os 
import glob
import numpy as np

## Introduction and Instructions

These series of Jupyter notebooks were made to take the state and county labor statistics documents from the Vermont Department of Labor, clean and transform them into a Tidy format for large data analysis and conversion to geospatial datasets to be posted on the Open Data Portal. 

Each notebook is numbered to show the sequence of steps. For this notebook the focus is downloading and adding all the data into Vermont and County datasets with all years. The first step below is setting the year of the file you are adding, this must be changed every time to reflect the next year.

In [2]:
year = '2017'

## The Data

All the data below was downloaded from the Vermont Department of Labor here: http://www.vtlmi.info/indnaics.htm#mqa Below is the Year To Date table for State and County with Industry sectors. The next section can uncommented be run the very first time to automatically pull the speadsheets to your local drive.

In [3]:
# List of direct urls of excell files on the http://www.vtlmi.info/indnaics.htm#mqa site, add additional years if they are there
urllist = ["http://www.vtlmi.info/public/qcew/vtqcewytd_cty2017.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2016.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2015.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2014.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2013.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2012.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2011.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2010.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2009.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2008.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2007.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2006.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2005.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2004.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2003.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2002.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2001.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2000.xls"
          ]

# This is to pull all the files
#for x in urllist:
#    resp = requests.get(x)
#    output = open(x[-11:], 'wb')
#    output.write(resp.content)
#    output.close()

In [4]:
# Lists what files are currently in the local folder
glob.glob('./*.xls')
doclist = glob.glob('./*.xls')
doclist

['.\\cty2000.xls',
 '.\\cty2001.xls',
 '.\\cty2002.xls',
 '.\\cty2003.xls',
 '.\\cty2004.xls',
 '.\\cty2005.xls',
 '.\\cty2006.xls',
 '.\\cty2007.xls',
 '.\\cty2008.xls',
 '.\\cty2009.xls',
 '.\\cty2010.xls',
 '.\\cty2011.xls',
 '.\\cty2012.xls',
 '.\\cty2013.xls',
 '.\\cty2014.xls',
 '.\\cty2015.xls',
 '.\\cty2016.xls',
 '.\\cty2017.xls']

## Running Dataset

In order to add all the years to one file a CSV for county and for state are saved to the local drive, this checks if it has already been created (which it would if it was the second or more time). If you need to restart everything, delete the local CSV files and restart at the first year.

In [5]:
# Imports the running dataset which the year selected will be added
if os.path.isfile('cumllaborvt.csv'):
    cumllaborvt = pd.read_csv("cumllaborvt.csv")
else:
    cumllaborvt =  pd.DataFrame()
    
if os.path.isfile('cumllaborcnty.csv'):
    cumllaborcnty = pd.read_csv("cumllaborcnty.csv")
else:
    cumllaborcnty =  pd.DataFrame()

In [6]:
# Imports excel file and gives list of sheets
data = pd.ExcelFile('cty'+year+'.xls')
colList = data.sheet_names

print(colList)

['County Areas', 'Vermont', 'Addison', 'Bennington', 'Caledonia', 'Chittenden', 'Essex', 'Franklin', 'Grand Isle', 'Lamoille', 'Orange', 'Orleans', 'Rutland', 'Washington', 'Windham', 'Windsor', 'All Other']

In [7]:
# creates a dictionary of sheet names and blank value where the data will be placed
locations = {'Vermont':None, 'Addison':None, 'Bennington':None, 'Caledonia':None, 'Chittenden':None, 
             'Essex':None, 'Franklin':None, 'Grand Isle':None, 'Lamoille':None, 'Orange':None, 'Orleans':None,
             'Rutland':None, 'Washington':None, 'Windham':None, 'Windsor':None, 'All Other':None}

# Parses each sheet in the spreadsheet into the dictionary value
for item in locations.keys():
    locations[item] = data.parse(item, skiprows=6)

In [8]:
# Takes the county name from the first row of each data set and adds it as a column value for all rows for when it is added together
for item in locations.values():
    item['County'] = item.iloc[0,0]

In [9]:
# Takes all the data in the dictionary and appends them together as a list of dataframes
datalist = []

for item in locations.values():
    datalist.append(item)

In [10]:
# Appends everything together in a single large dataframe
cumlative = pd.concat(datalist)

In [11]:
# View column names before renaming them
cumlative.columns

Index(['Unnamed: 0', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
       'Sep', 'Oct', 'Nov', 'Dec', 'Qtr 1', 'Qtr 2', 'Qtr 3', 'Qtr 4',
       'Annual', 'Qtr 1.1', 'Qtr 2.1', 'Qtr 3.1', 'Qtr 4.1', 'Annual.1',
       'Qtr 1.2', 'Qtr 2.2', 'Qtr 3.2', 'Qtr 4.2', 'Annual.2', 'Qtr 1.3',
       'Qtr 2.3', 'Qtr 3.3', 'Qtr 4.3', 'Annual.3', 'County'],
      dtype='object')

## Female Employment

The count of female employment stopped as of 2016. As this changes the number of columns the code below inserts NaN columns in order to append it all together successfully.

In [12]:
collist1 = ['Type', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec', 
           'Average Employment Qtr 1', 'Average Employment Qtr 2', 'Average Employment Qtr 3', 'Average Employment Qtr 4', 'Average Employment Annual',
           'Average Female Employment Qtr 1', 'Average Female Employment Qtr 2', 'Average Female Employment Qtr 3', 'Average Female Employment Qtr 4', 'Average Female Employment Annual',
           'Total Wages Qtr 1', 'Total Wages Qtr 2', 'Total Wages Qtr 3', 'Total Wages Qtr 4', 'Total Wages Annual',
           'Average Wage Qtr 1','Average Wage Qtr 2', 'Average Wage Qtr 3', 'Average Wage Qtr 4', 'Average Wage Annual',
           'Number of Establishments Qtr 1', 'Number of Establishments Qtr 2', 'Number of Establishments Qtr 3', 'Number of Establishments Qtr 4', 'Number of Establishments Annual','County']

collist2 = ['Type', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec', 
              'Average Employment Qtr 1', 'Average Employment Qtr 2', 'Average Employment Qtr 3', 'Average Employment Qtr 4', 'Average Employment Annual',
              'Total Wages Qtr 1', 'Total Wages Qtr 2', 'Total Wages Qtr 3', 'Total Wages Qtr 4', 'Total Wages Annual',
              'Average Wage Qtr 1','Average Wage Qtr 2', 'Average Wage Qtr 3', 'Average Wage Qtr 4', 'Average Wage Annual',
              'Number of Establishments Qtr 1', 'Number of Establishments Qtr 2', 'Number of Establishments Qtr 3', 'Number of Establishments Qtr 4', 'Number of Establishments Annual','County']

def changeheader(data):
    if len(data.columns) == 39:
        data.columns = collist1
    elif len(data.columns) == 34:
        data.columns = collist2
        data['Average Female Employment Qtr 1'] = np.nan
        data['Average Female Employment Qtr 2'] = np.nan
        data['Average Female Employment Qtr 3'] = np.nan
        data['Average Female Employment Qtr 4'] = np.nan
        data['Average Female Employment Annual'] = np.nan

changeheader(cumlative)
cumlative.columns

Index(['Type', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'Average Employment Qtr 1',
       'Average Employment Qtr 2', 'Average Employment Qtr 3',
       'Average Employment Qtr 4', 'Average Employment Annual',
       'Total Wages Qtr 1', 'Total Wages Qtr 2', 'Total Wages Qtr 3',
       'Total Wages Qtr 4', 'Total Wages Annual', 'Average Wage Qtr 1',
       'Average Wage Qtr 2', 'Average Wage Qtr 3', 'Average Wage Qtr 4',
       'Average Wage Annual', 'Number of Establishments Qtr 1',
       'Number of Establishments Qtr 2', 'Number of Establishments Qtr 3',
       'Number of Establishments Qtr 4', 'Number of Establishments Annual',
       'County', 'Average Female Employment Qtr 1',
       'Average Female Employment Qtr 2', 'Average Female Employment Qtr 3',
       'Average Female Employment Qtr 4', 'Average Female Employment Annual'],
      dtype='object')

In [13]:
# Adds the year 
cumlative['Year'] = year

In [14]:
# Removes all NA rows and rows that contain footnotes or count names as these had individual rows without values
exclude = ['nan', '(c) = data can not be released, does not meet confidentiality standards', 
           '- = zero employment, wages or establishments','na = data is not available', 'released: November 2015',
           'Addison County', 'Vermont','Bennington County', 'Caledonia County', 'Essex County', 'Franklin County', 
           'Grand Isle County', 'Lamoille County', 'Orange County', 'Orleans County', 'Rutland County', 'Washington County',
           'Windham County','Windsor County', 'All Other county']
    
cumlative = cumlative.loc[~cumlative['Type'].isin(exclude)]
cumlative = cumlative.loc[cumlative['Type'].notnull()]

# removes all leading whitespaces on the type name, indentation was used to show hierachy in the original file
cumlative['Type'] = cumlative['Type'].str.lstrip()

In [15]:
# Creates county only data set
cumlativecnty = cumlative[cumlative['County'] != 'Vermont']

# Creates state only data set
cumlativevt = cumlative[cumlative['County'] == 'Vermont']

In [16]:
# Checks if this is the first time this has been run and either creates the first dataset for saving to a csv or appends it to what is there
if cumllaborcnty.empty:
    cumllaborcnty = cumlativecnty
else:
    cumllaborcnty = cumllaborcnty.append(cumlativecnty, ignore_index=True)
    
if cumllaborvt.empty:
    cumllaborvt = cumlativevt
else:
    cumllaborvt = cumllaborvt.append(cumlativevt, ignore_index=True)

In [17]:
#cumllaborcnty.to_csv("cumllaborcnty.csv", index=False)
#cumllaborvt.to_csv("cumllaborvt.csv", index=False)