In [1]:
import requests
import pandas as pd
import os 
import glob
import numpy as np

In [2]:
year = '2017'

In [3]:
urllist = ["http://www.vtlmi.info/public/qcew/vtqcewytd_cty2017.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2016.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2015.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2014.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2013.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2012.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2011.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2010.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2009.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2008.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2007.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2006.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2005.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2004.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2003.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2002.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2001.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_cty2000.xls"
          ]

In [4]:
# This is to pull all the files
#for x in urllist:
#    resp = requests.get(x)
#    output = open(x[-11:], 'wb')
#    output.write(resp.content)
#    output.close()

In [5]:
glob.glob('./*.xls')
doclist = glob.glob('./*.xls')

In [6]:
# Imports the running dataset which the year selected will be added
if os.path.isfile('cumllaborvt.csv'):
    cumllaborvt = pd.read_csv("cumllaborvt.csv")
else:
    cumllaborvt =  pd.DataFrame()
    
if os.path.isfile('cumllaborcnty.csv'):
    cumllaborcnty = pd.read_csv("cumllaborcnty.csv")
else:
    cumllaborcnty =  pd.DataFrame()

In [7]:
# Created a list of years
yearlist = []

for x in doclist:
    yearlist.append(x[-8:-4])

In [8]:
# Imports excel file and gives list of sheets
data = pd.ExcelFile('cty'+year+'.xls')
colList = data.sheet_names

print(colList)

['County Areas', 'Vermont', 'Addison', 'Bennington', 'Caledonia', 'Chittenden', 'Essex', 'Franklin', 'Grand Isle', 'Lamoille', 'Orange', 'Orleans', 'Rutland', 'Washington', 'Windham', 'Windsor', 'All Other']

In [9]:
sheetlist = ['Vermont', 'Addison', 'Bennington', 'Caledonia', 'Chittenden', 'Essex', 'Franklin', 'Grand Isle', 
             'Lamoille', 'Orange', 'Orleans', 'Rutland', 'Washington', 'Windham', 'Windsor', 'All Other']

vermont = data.parse('Vermont', skiprows=6)
addison = data.parse('Addison', skiprows=6)
bennington = data.parse('Bennington', skiprows=6)
caledonia = data.parse('Caledonia', skiprows=6)
chittenden = data.parse('Chittenden', skiprows=6)
essex = data.parse('Essex', skiprows=6)
franklin = data.parse('Franklin', skiprows=6)
grandisle = data.parse('Grand Isle', skiprows=6)
lamoille = data.parse('Lamoille', skiprows=6)
orange = data.parse('Orange', skiprows=6)
orleans = data.parse('Orleans', skiprows=6)
rutland = data.parse('Rutland', skiprows=6)
washington = data.parse('Washington', skiprows=6)
windham = data.parse('Windham', skiprows=6)
windsor = data.parse('Windsor', skiprows=6)
allother = data.parse('All Other', skiprows=6)

datalist = [vermont, addison, bennington, caledonia, chittenden, essex, franklin, grandisle, lamoille, orange, orleans, rutland, 
             washington, windham, windsor, allother]

In [10]:
locations = {'Vermont':None, 'Addison':None, 'Bennington':None, 'Caledonia':None, 'Chittenden':None, 
             'Essex':None, 'Franklin':None, 'Grand Isle':None, 'Lamoille':None, 'Orange':None, 'Orleans':None,
             'Rutland':None, 'Washington':None, 'Windham':None, 'Windsor':None, 'All Other':None}

for item in locations.keys():
    locations[item] = data.parse(item, skiprows=6)

In [11]:
for item in locations.values():
    item['County'] = item.iloc[0,0]

In [12]:
locationYear = {}

for year in yearlist:
    locationYear[year] = pd.DataFrame()

In [13]:
for item in locations.values():
    locationYear[year].append(item)

In [14]:
master = pd.concat(datalist, ignore_index=True)

In [15]:
collist1 = ['Type', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec', 
           'Average Employment Qtr 1', 'Average Employment Qtr 2', 'Average Employment Qtr 3', 'Average Employment Qtr 4', 'Average Employment Annual',
           'Average Female Employment Qtr 1', 'Average Female Employment Qtr 2', 'Average Female Employment Qtr 3', 'Average Female Employment Qtr 4', 'Average Female Employment Annual',
           'Total Wages Qtr 1', 'Total Wages Qtr 2', 'Total Wages Qtr 3', 'Total Wages Qtr 4', 'Total Wages Annual',
           'Average Wage Qtr 1','Average Wage Qtr 2', 'Average Wage Qtr 3', 'Average Wage Qtr 4', 'Average Wage Annual',
           'Number of Establishments Qtr 1', 'Number of Establishments Qtr 2', 'Number of Establishments Qtr 3', 'Number of Establishments Qtr 4', 'Number of Establishments Annual']

collist2 = ['Type', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec', 
              'Average Employment Qtr 1', 'Average Employment Qtr 2', 'Average Employment Qtr 3', 'Average Employment Qtr 4', 'Average Employment Annual',
              'Total Wages Qtr 1', 'Total Wages Qtr 2', 'Total Wages Qtr 3', 'Total Wages Qtr 4', 'Total Wages Annual',
              'Average Wage Qtr 1','Average Wage Qtr 2', 'Average Wage Qtr 3', 'Average Wage Qtr 4', 'Average Wage Annual',
              'Number of Establishments Qtr 1', 'Number of Establishments Qtr 2', 'Number of Establishments Qtr 3', 'Number of Establishments Qtr 4', 'Number of Establishments Annual']

def changeheader(data):
    if len(data.columns) == 38:
        data.columns = collist1
    elif len(data.columns) == 33:
        data.columns = collist2
        data['Average Female Employment Qtr 1'] = np.nan
        data['Average Female Employment Qtr 2'] = np.nan
        data['Average Female Employment Qtr 3'] = np.nan
        data['Average Female Employment Qtr 4'] = np.nan
        data['Average Female Employment Annual'] = np.nan

In [16]:
for x in datalist:
    changeheader(x)
    x['Year'] = year
    x['County'] = x.iloc[0,0]

In [17]:
master = pd.concat(datalist, ignore_index=True)
master.shape

(656, 40)

In [18]:
# Removes all NA rows and rows that contain footnotes or count names as these had individual rows without values
exclude = ['nan', '(c) = data can not be released, does not meet confidentiality standards', 
           '- = zero employment, wages or establishments','na = data is not available', 'released: November 2015',
           'Addison County', 'Vermont','Bennington County', 'Caledonia County', 'Essex County', 'Franklin County', 
           'Grand Isle County', 'Lamoille County', 'Orange County', 'Orleans County', 'Rutland County', 'Washington County',
           'Windham County','Windsor County', 'All Other county']
    
master = master.loc[~master['Type'].isin(exclude)]
master = master.loc[master['Type'].notnull()]

# removes all leading whitespaces on the type name, indentation was used to show hierachy in the original file
master['Type'] = master['Type'].str.lstrip()

In [19]:
def addemptyheader(data):
    if len(data.columns) == 38:
        data.columns = collist1
    else:
        data.columns = collist2
        
master = master[['Year', 'County','Type', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep','Oct', 'Nov', 'Dec', 
       'Average Employment Qtr 1','Average Employment Qtr 2', 'Average Employment Qtr 3','Average Employment Qtr 4', 'Average Employment Annual',
       'Average Female Employment Qtr 1', 'Average Female Employment Qtr 2','Average Female Employment Qtr 3', 'Average Female Employment Qtr 4','Average Female Employment Annual', 
       'Total Wages Qtr 1','Total Wages Qtr 2', 'Total Wages Qtr 3', 'Total Wages Qtr 4', 'Total Wages Annual',
       'Average Wage Qtr 1', 'Average Wage Qtr 2', 'Average Wage Qtr 3', 'Average Wage Qtr 4', 'Average Wage Annual',
       'Number of Establishments Qtr 1', 'Number of Establishments Qtr 2','Number of Establishments Qtr 3', 'Number of Establishments Qtr 4','Number of Establishments Annual'
      ]]

In [20]:
mastercnty = master[master['County'] != 'Vermont']

mastervt = master[master['County'] == 'Vermont']

In [21]:
if cumllaborcnty.empty:
    cumllaborcnty = mastercnty
else:
    cumllaborcnty = cumllaborcnty.append(mastercnty, ignore_index=True)
    
if cumllaborvt.empty:
    cumllaborvt = mastervt
else:
    cumllaborvt = cumllaborvt.append(mastervt, ignore_index=True)

In [22]:
#cumllaborcnty.to_csv("cumllaborcnty.csv", index=False)
#cumllaborvt.to_csv("cumllaborvt.csv", index=False)